<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="DESCRICAO">
        <meta name="author" content="Diretoria de Inovação e Tecnologia da Informação">
        
        <script charset="utf-8" src="./pic/js/modernizr.js"></script>
        <style>.js body {display: none}</style>
        <style>/* Em regra, você não vai criar estilos ao usar o PIC. */</style>

        <title>TITULO_PAGINA - Copad Test Handlebars</title>
    </head>
    <body data-pic-ambiente="Prototipação">
        <!-- wrapper -->
        <div id="wrapper">
            <!-- Header -->
                <div id="banner">
                    <header>
                        <div class="sr-only"><a href="#page-content-wrapper">Ir para o conteúdo.</a> | <a href="#menubar">Ir para a navegação</a>
                        </div>
                        <div id="cabecalho" class="container-fluid">
                            <div class="topoAplicacao">
                                <a class="identAplicacao" href="index.html">
                                    <span class="sigla">SisTest</span>

                                    <span class="nome">Copad Test Handlebars</span>
                                </a>
            <!-- PONTO DE INSERÇÃO DAS FERRAMENTAS DE SUPORTE GLOBAL -->
                            </div>
                        </div>

            <!-- PONTO DE INSERÇÃO DO MENU GLOBAL -->
<div id="pic-menu-global">
	<nav class="navbar navbar-default">
		<ul data-pic-globalnav>
			<li>
				<a href="#" class="heading">Grupo de funcionalidades</a>
				<ul>
					<li><a href="#">Uma funcionalidade</a></li>
					<li><a href="#">Outra funcionalidade</a></li>
					<li data-pic-state-current><a href="#">A última funcionalidade</a></li>
				</ul>
			</li>
			<li>
				<a href="#" class="heading">Outro Grupo de Menu</a>
				<ul>
					<li><a href="#">Visão 1 de um objeto</a></li>
					<li><a href="#">Visão 2 de um objeto</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Sem subitens aqui</a>
			</li>
		</ul>
	</nav>
</div>

                    </header>
                </div>

            <!-- PONTO DE INSERÇÃO DO MENU LOCAL -->
<div id="pic-menu-local">
   <nav>
       <ul data-pic-localnav>
           <li><a href="#">Funcionalidade de Primeiro Nível</a></li>
           <li data-pic-state-current><a href="#">Outra Funcionalidade como a Anterior</a></li>
           <li>
               <a href="#">Categoria Hipotética</a>
               <ul>
                   <li><a href="#">Um item</a></li>
                   <li><a href="#">Outro</a></li>
                   <li><a href="#">E mais um da mesma categoria</a></li>
               </ul>
           </li>
           <li>
               <a href="#">Outra Categoria</a>
               <ul>
                   <li><a href="#">Seja consistente</a></li>
                   <li><a href="#">Agrupe adequadamente</a></li>
               </ul>
           </li>
           <li>
               <a href="#">Formas de Levantar as Categorias</a>
               <ul>
                   <li><a href="#">Card Sorting</a></li>
                   <li><a href="#">Focus Groups</a></li>
                   <li><a href="#">Estudo do Negócio</a></li>
               </ul>
           </li>
       </ul>
   </nav>
</div>

            <!-- Área de Conteúdo -->
            <div id="page-content-wrapper">
			{{{boby}}}
            </div>

            <!-- Informações de Rodapé -->
            <div class="rodape" role="contentinfo" aria-labelledby="foot-info">
                <div class="dir" id="foot-info">Produzido por <span>Ditec</span></div>
                <div class="esq">
                    <span class="sigla">Copad</span>
                    <span class="divisor"> - </span>
                    <span class="nomeSetor">Copad Teste</span>
                    <span class="versao">0.0.1</span>
                </div>

            </div>
            <!-- /rodapé -->
        </div>
        <!-- /wrapper -->        <script src="./pic/js/load-control.js" data-pic-showloading></script>
        <script>document.addEventListener('pic: ready', function () {
    // Seu código aqui.
});</script>

    </body>
</html>