<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="DESCRICAO">
        <meta name="author" content="Diretoria de Inovação e Tecnologia da Informação">
        <title>COPAD-DOCS - Ambientação novos desenvolvedores</title>

        <link rel="stylesheet" type="text/css" media="all" href="./css/logo-pic.css" />
        <link rel="stylesheet" type="text/css" media="all" href="./js/prism/prism.css" />

    </head>

    <body data-pic-ambiente="Teste">
        <!-- wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <div id="banner">
                <header>
                    <div class="sr-only"><a href="#page-content-wrapper">Ir para o conteúdo.</a> | <a href="#menubar">Ir
                            para a navegação</a>
                    </div>
                    <div id="cabecalho" class="container-fluid">
                        <div class="topoAplicacao">
                            <a class="identAplicacao" href="/">
                                <span class="sigla">PAD</span>

                                <span class="nome">Portal Ambientação dos Desenvolvedores</span>
                            </a>
                            <!-- PONTO DE INSERÇÃO DAS FERRAMENTAS DE SUPORTE GLOBAL -->
                        </div>
                    </div>

                    <!-- PONTO DE INSERÇÃO DO MENU GLOBAL -->
                    <div id="pic-menu-global">
                        <nav class="navbar navbar-default">
                            <ul data-pic-globalnav>
                                <li>
                                    <a href="#" class="heading">Inicio</a>
                                    <ul>
                                        <li><a href="/introducao">Introdução</a></li>
                                        <li><a href="/permissoes">Ferramentas e Sistemas</a></li>
                                        <li><a href="/areassistemas">Lista de Sistemas e Legados</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="heading">Sistemas</a>
                                    <ul>
                                        <li><a href="/admlocal">Administrador da máquina</a></li>
                                        <li><a href="/ative">Ative</a></li>
                                        <li><a href="/otrs">OTRS</a></li>
                                        <li><a href="/idean">IDEA-N</a></li>
                                        <li><a href="/redmine">Redmine</a></li>
                                        <!-- <li><a href="/arvorediretorioservico"></a>Árvore de Diretório de Serviços OTRS</li> -->
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="heading">Ferramentas</a>
                                    <ul>
                                        <li><a href="/argo">ArgoCD</a></li>
                                        <li><a href="/autobots">Autobots</a></li>
                                        <li><a href="/banco">Ferramentas de Integração de Dados</a></li>
                                        <li><a href="/docker">Docker</a></li>
                                        <li><a href="/git">Git</a></li>
                                        <li><a href="/jenkins">Jenkins</a></li>
                                        <li><a href="/kubernetes">Kubernetes</a></li>
                                        <li><a href="/rancher">Rancher</a></li>
                                        <li><a href="/sonar">Sonar</a></li>
                                    </ul>
                                </li>                 
                            </ul>
                        </nav>
                    </div>

                </header>
            </div>

            {{{body}}}

            <!-- Informações de Rodapé -->
            <div class="rodape" role="contentinfo" aria-labelledby="foot-info">
                <div class="dir" id="foot-info">Produzido por <span>Ditec</span></div>
                <div class="esq">
                    <span class="sigla">PAD</span>
                    <span class="divisor"> - </span>
                    <span class="nomeSetor">Sesen </span>
                    <span class="versao">0.0.17 | Atualizado em 17-03-2023 as 11:15</span>
                </div>
                
                <!-- /rodapé -->
            </div>
            <script data-pic-customscripts="./js/include-html.js, ./js/prism/prism.js, ./js/prism/prism-highlight.js"
                src="./pic/js/load-control.js" data-pic-showloading>
            </script>
        </div>
    </body>

</html>