<!--<div class="container-fluid">-->
<!-- PONTO DE INSERÇÃO DO CONTEÚDO PRINCIPAL -->
<!--<div class="page-header">
		<h1>Concessão de administrador local da máquina</h1>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					Central de Atendimento
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">
							<p class="list-group-item-heading">
								<b>Atendimento primeiro nivel (Telefone)</b>
							</p>
							<p>
								Ligar na Central de Atendimento da Ditec através do ramal 6-3636, onde o
								desenvolvedor irá
								fornecer
								informações de ponto e nome da estação de trabalho a qual ele deseja administrar.
								Lembrando
								que
								ao ter sido
								adicionado ao grupo de administrador local, o colaborador está ciente de todas as
								responsabilidades e
								sanções nos procedimentos de instalações de instalações de softwares, aplicativos e
								outra
								qualquer
								ferramenta de auxílio à sua função, (verificar se existe uma portaria ou ANO)
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						Auto-Serviço
					</div>
					<div class="panel-body">
						<ul class="list-group">
							<li class="list-group-item">
								<p class="list-group-item-heading">
									<b>Intranet</b>
								</p>

								<p>
									Acessar a intranet “camaranet.camara.leg.br” na guia Administração da Casa clicar em
									Informática. Na
									página da informática clicar em computadores e periféricos. Irão aparecer alguns
									serviços,
									procurar por
									Concessão de direitos de administrador local e clicar em Acesso ao serviço.
									Preencher o
									formulário e
									verificar o nome do computador “DC-XXXXXX” e o ponto aprovador é o seu chefe direto.
								</p>
								<br>
								<div class="divimagem">
									<p>
										<img src="images/admlocal/admlocal1.jpg" width="100%" alt=""> <br>
										<img src="images/admlocal/admlocal2.jpg" width="100%" alt=""> <br>
										<img src="images/admlocal/admlocal3.jpg" width="100%" alt="">
									</p>
								</div>
							</li>
						</ul>
					</div>
					<br>					
				</div>
			</div>
		
		</div>	
	</div>
</div>-->
<style>
	#divtexto {
		text-align: justify;
	}

	#divimagem {
		text-align: center;
	}
</style>
<div class="container-fluid">
	<!--<div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                Informações do Portal
            </div>-->

	<!-- PONTO DE INSERÇÃO DO CONTEÚDO PRINCIPAL -->
	<div class="page-header">
		<h1>Permissão de Admin local da máquina</h1>
		<div>
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<div class="panel panel-default">
						<div class="panel-heading">
							Central de Atendimento
						</div>
						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">
									<p class="list-group-item-heading">
										<strong>Atendimento de primeiro nível (Telefone)</strong>
									</p>
									<p class="list-group-item-text"></p>
									<p>
										Ligar na Central de Atendimento da Ditec através do <b>ramal 6-3636</b>, onde o
										desenvolvedor irá
										fornecer
										informações de ponto e nome da estação de trabalho a qual ele deseja
										administrar.
										Lembrando
										que
										ao ter sido
										adicionado ao grupo de administrador local, o colaborador está ciente de todas
										as
										responsabilidades e
										sanções nos procedimentos de instalações de instalações de softwares,
										aplicativos e
										outra
										qualquer
										ferramenta de auxílio à sua função, (verificar se existe uma portaria ou ANO)
									</p>


								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<div class="panel panel-default">
						<div class="panel-heading">
							Auto-Serviço
						</div>
						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">
									<p class="list-group-item-heading">
										<strong>Intranet</strong>
									</p>
									<p class="list-group-item-text"></p>
									<p>
										Acessar a intranet “camaranet.camara.leg.br” na guia Administração da Casa
										clicar em
										Informática. Na
										página da informática clicar em <b>computadores e periféricos</b>. Irão aparecer alguns
										serviços,
										procurar por
										<b>Concessão de direitos de administrador local</b> e clicar em <b>Acesso ao serviço</b>.
										Preencher o
										formulário e
										verificar o <b>nome do computador “DC-XXXXXX”</b> e o <b>ponto aprovador</b> que é o seu chefe
										direto.
									</p>
									<br>
									<div class="divimagem">
										<p>
											<img src="images/admlocal/admlocal1.jpg" width="100%" alt=""> <br>
											<img src="images/admlocal/admlocal2.jpg" width="100%" alt=""> <br>
											<img src="images/admlocal/admlocal3.jpg" width="100%" alt="">
										</p>
									</div>
								</li>
							</ul>							
						</div>
					</div>					
				</div>
			</div>
			<br><br>
		</div>
	</div>
</div>