<div class="row">
	<div class="col-xs-12 col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				Sistemas e Legados IDEA-N
			</div>
			<div class="idHeader">
				<h4>
					<p class="titulo">
						<b>Sistemas e Legados</b>
					</p>
				</h4>
			</div>
		{{#each sistemas}}
     <li>{{sigla}} - {{sigla}}</li>
		{{/each}}
		<br>
			<p><strong>
				Nesta área iremos mostrar os sitemas e legados em produção. Torna-se fundamental para o desenvolvedor saber
				sobre os sistemas
				que estão em produção assim como seus responsáveis | Gestores Técnicos.</strong>
			</p>
			<p>

			</p>
		</div>
	</div>
</div>
<br><br>
