<style>
    #divtexto {
        text-align: justify;
    }

    #divimagem {
        text-align: center;
    }
</style>
<div class="container-fluid">
    <!--<div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                Informações do Portal
            </div>-->

    <!-- PONTO DE INSERÇÃO DO CONTEÚDO PRINCIPAL -->
    <div class="page-header">
        <h1>ArgoCD</h1>
        <div>
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            O que é o ArgoCD?
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <p class="list-group-item-heading">
                                        <strong>Definição</strong>
                                    <p>
                                        Argo CD é uma ferramenta declarativa de entrega contínua GitOps para Kubernetes.

                                    </p>
                                    <p>
                                        Argo CD é uma ferramenta declarativa de entrega contínua GitOps para Kubernetes.

                                        Ele segue o padrão GitOps de usar repositórios Git como a fonte da verdade para
                                        definir o estado
                                        desejado do aplicativo.
                                    </p>
                                    <p>
                                        Ele automatiza a implantação dos estados de aplicativo desejados nos ambientes
                                        de destino especificados.
                                        As implantações de aplicativos podem rastrear atualizações para ramificações,
                                        tags ou ser fixadas em uma
                                        versão específica de manifestos em um commit do Git.
                                    </p>

                                    <p><a href="https://argo-cd.readthedocs.io/en/stable/" target="_blank">Documentacao
                                            - Câmara dos Deputados</a> 
                                        </a>
                                    </p>
                                    <p></p>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>