<div class="page-header">
    <h1>Ative</h1>
    <div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        O Sistema
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="list-group-item-heading">
                                    <strong>Uso</strong>
                                </p>
                                <p class="list-group-item-text"></p>
                                <p>O sistema será usado para gestão de iterações de desenvolvimento externo referentes a
                                    contratos
                                    baseados em repertórios de tipos de atividades com esforço calculado em USTs. O
                                    sistema cuidará do
                                    repertório de tipos de atividades disponíveis para desenvolvimento externo e do
                                    aceite do artefato
                                    entregue em cada atividade. O sistema controlará quais sistemas devem ser atendidos
                                    por cada
                                    contrato e equipe da contratada.</p>
                                <p></p>
                                <p>Os sistemas devem estar cadastrados no BDGC e o controle das demandas do seu backlog,
                                    bem como as
                                    anotações referentes ao seu andamento, continuarão sendo registrados na ferramenta
                                    de gerenciamento
                                    de defeitos e mudanças (hoje, o Redmine).</p>



                                <!--<p><a href="http://sptdes.camara.gov.br/wiki/Tutorial_Redmine"></a>Tutorial Redmine</p> -->
                                <p><a href="http://sptdes.camara.gov.br/wiki/Quick_References_Redmine"
                                        target="_blank">Referência
                                        Rápida
                                    </a>

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</p>
</div>
</div>
</div>
</div>

<!--
<div class="posts">
    <div class="row justify-content-center">
        <div class="col-lg-7" style="margin-top: 50px;">
            <div class="card">

                <img src="{{post.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Posted by {{post.author}}</h5>

                    {{#if post.comments}}
                    <ul class="list-group">
                        {{#each post.comments}}
                        <li class="list-group-item">{{this}}</li>
                        {{/each}}
                    </ul>
                    {{else}}
                    <ul class="list-group">
                        <li class="list-group-item">Be first to comment on this post</li>
                    </ul>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
-->



<!-- Primeiro video -->

<div class="page-header">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1><b>Treinamento CD</b></h1>
                    <h2 class="treinamento-atives__titulo">Cadastrando um grupo de sistemas</h2>
                    <html>

                    <body>
                        <video width="100%" height="auto" controls>
                            <source
                                src="https://drive.camara.leg.br/s/WT6wyaeQsiT8533/download?path=%2FVideos&files=1%20-%20Cadastrando%20um%20grupo%20de%20sistemas.mp4"
                                type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </body>

                    </html>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Segundo video -->
<div class="page-header">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="box-info-treinamento-atives__titulo">Cadastrando equipe do grupo de sistemas</h2>
                    <html>

                    <body>
                        <video width="100%" height="auto" controls>
                            <source
                                src="https://drive.camara.leg.br/s/WT6wyaeQsiT8533/download?path=%2FVideos&files=2%20-%20Cadastrando%20a%20equipe%20do%20grupo%20de%20sistemas.mp4"
                                type="video/mp4">

                            Your browser does not support the video tag.
                        </video>
                    </body>

                    </html>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Terceiro video -->
<div class="page-header">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="box-info-treinamento-atives__titulo">Criando uma nova Iteração</h2>
                    <html>

                    <body>
                        <video width="100%" height="auto" controls>
                            <source
                                src="https://drive.camara.leg.br/s/WT6wyaeQsiT8533/download?path=%2FVideos&files=3%20-%20Criando%20uma%20nova%20Itera%C3%A7%C3%A3o.mp4"
                                type="video/mp4">

                            Your browser does not support the video tag.
                        </video>
                    </body>

                    </html>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Quarto video -->
<div class="page-header">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="box-info-treinamento-atives__titulo">Incluindo demandas da Iteração</h2>
                    <html>

                    <body>
                        <video width="100%" height="auto" controls>
                            <source
                                src="https://drive.camara.leg.br/s/WT6wyaeQsiT8533/download?path=%2FVideos&files=4%20-%20Incluindo%20demandas%20na%20Itera%C3%A7%C3%A3o.mp4"
                                type="video/mp4">

                            Your browser does not support the video tag.
                        </video>
                    </body>

                    </html>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Quinto video -->
<div class="page-header">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="box-info-treinamento-atives__titulo">Minhas Iterações e seus Estados</h2>
                    <html>

                    <body>
                        <video width="100%" height="auto" controls>
                            <source
                                src="https://drive.camara.leg.br/s/WT6wyaeQsiT8533/download?path=%2FVideos&files=5%20-%20Minhas%20Itera%C3%A7%C3%B5es%20e%20seus%20Estados.mp4"
                                type="video/mp4">

                            Your browser does not support the video tag.
                        </video>
                    </body>

                    </html>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sexto video -->
<div class="page-header">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="box-info-treinamento-atives__titulo">Entendendo a hierarquia Iteração,
                        Demandas e Atividades</h2>
                    <html>

                    <body>
                        <video width="100%" height="auto" controls>
                            <source
                                src="https://drive.camara.leg.br/s/WT6wyaeQsiT8533/download?path=%2FVideos&files=6%20-%20Entendendo%20a%20hierarquia%20Itera%C3%A7%C3%A3o%2C%20%20Demandas%20e%20Atividades.mp4"
                                type="video/mp4">

                            Your browser does not support the video tag.
                        </video>
                    </body>

                    </html>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sétimo Video  parte 1-->
<div class="page-header">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="box-info-treinamento-atives__titulo">Elaborando um plano para uma
                        demanda de implementação - parte 1</h2>
                    <html>

                    <body>
                        <video width="100%" height="auto" controls>
                            <source
                                src="https://drive.camara.leg.br/s/WT6wyaeQsiT8533/download?path=%2FVideos&files=7%20-%20Elaborando%20um%20plano%20para%20uma%20demanda%20de%20implementa%C3%A7%C3%A3o%20-%20parte%201.mp4"
                                type="video/mp4">

                            Your browser does not support the video tag.
                        </video>
                    </body>

                    </html>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sétimo Video  parte 2-->
<div class="page-header">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="box-info-treinamento-atives__titulo">Elaborando um plano para uma
                        demanda de implementação - parte 2</h2>
                    <p></p>
                    <html>

                    <body>
                        <video width="100%" height="auto" controls>
                            <source
                                src="https://drive.camara.leg.br/s/WT6wyaeQsiT8533/download?path=%2FVideos&files=7%20-%20Elaborando%20um%20plano%20para%20uma%20demanda%20de%20implementa%C3%A7%C3%A3o%20-%20parte%202.mp4"
                                type="video/mp4">

                            Your browser does not support the video tag.
                        </video>
                    </body>

                    </html>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>