<div class="page-header">
	<h1>Autobots</h1>
	<div>
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						O que é ?
					</div>
					<div class="panel-body">
						<ul class="list-group">
							<li class="list-group-item">
								<p class="list-group-item-heading">
									<strong>Definição</strong>
								</p>
								<p class="list-group-item-text"></p>
								</p>
								<p>Sistema desenvolvido utilizando Django, Python, Shell Script, Ansible e Powershell
									que possibilita às
									equipes de desenvolvimento realizarem operações comumente executadas pela Infra
									Estrutura, com a
									correspondente geração de logs detalhados.</p>
								<p>Gera o projeto no ambiente Kubernetes (desenvolvimento(teste), homologação e
									produção), o que difere
									do procedimento do Git é a criação dos arquivos
									jenkinsfile e docker que são responsáveis por gerar a imagem e executar a esteira
									dentro do
									autobots.</p>
								<p><strong>Autobots se transformou em uma ferramenta de automação de processos, um
										sistema de integração de
										desenvolvimento e operação.
										Lembrando que o desenvolvedor tem que ter a permissão de criar o projeto na
										organização que ele faz
										parte.</strong></p>
								<p>

								</p>
								<p><a href="https://rtfd.camara.gov.br/docs/sesap/manual-kubernetes/ferramentas/autobots/"
										target="_blank">Manual do
										Desenvolvedor</a>

							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

