<div class="container-fluid">
	<!--<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				Informações do Portal
			</div>-->

	<!-- PONTO DE INSERÇÃO DO CONTEÚDO PRINCIPAL -->
	<div class="page-header">
		<h1>Ferramenta de integração de banco de dados</h1>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					Configuração do Talend
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">
							<p class="list-group-item-heading">
								<strong>Oracle e MS-SQL</strong>
							</p>
							<p class="list-group-item-text"></p>

							<p>
								Aqui está a referência de como configurar <b><i>datasources independentes dos nomes de
										hosts</i></b>, tanto para Oracle quanto para o SqlServer.
							</p>
							<p>
								Acesse: <a
									href="http://orion2/mediawiki/Configuração_do_Talend_para_acesso_às_Bases_de_Dados_Oracle_e_MS-SQL"
									target="_blank">datasources</a>
							</p>

							<p>
								Os exemplos de configuração para homologação e desenvolvimento do SqlServer ainda não
								estão incluídos no documento da mediawiki. O formato geral da URL de conexão JDBC é:
								<code>jdbc:sqlserver://[serverName[\instanceName][:portNumber]][;property=value[;property=value]]</code>
							</p>
							<p><strong>HOMOLOGAÇÃO no SqlServer</strong></p>
							<p><code>jdbc:sqlserver://helix.redecamara.camara.gov.br\hom:1826</code></p>

							<p><strong>DESENVOLVIMENTO NO SqlServer</strong></p>
							<p><code>jdbc:sqlserver://helix.redecamara.camara.gov.br\des:3206</code></p>

							<p class="">
								<span>Copad - SESEN | P_999078 - Ari Roberto</span>
							</p>
						</li>
						<li class="list-group-item">
							<p class="list-group-item-heading">
								<strong>Relação de Databases</strong>
							</p>
							<p class="list-group-item-text"></p>
							<p>Relação dos Databases por Grupo de Diposniblidade do Always On com seus respectivos
								listeneres.</p>
							<p>
								<a href="https://orion2/mediawiki/Databases_por_Grupo_de_Disponibilidade"
									target="_blank">Relação dos Databases</a>
							</p>

							<p class="">
								<span>Copad - SESEN | P_999078 - Ari Roberto</span>
							</p>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</div>