<style>
	#divtexto {
		text-align: justify;
	}

	#divimagem {
		text-align: center;
	}
</style>
<div class="container-fluid">
	<!--<div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                Informações do Portal
            </div>-->

	<!-- PONTO DE INSERÇÃO DO CONTEÚDO PRINCIPAL -->
	<div class="page-header">
		<h1>Git</h1>
		<div>
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<div class="panel panel-default">
						<div class="panel-heading">
							O que é o Git?
						</div>
						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">
									<p class="list-group-item-heading">
										<strong>Definição</strong>
									</p>
									<p class="list-group-item-text">
									<p> Git é um projeto de código aberto maduro e com manutenção ativa desenvolvido em
										2005 por Linus Torvalds, o famoso criador do kernel do sistema operacional
										Linux.
									</p>
									O Git é atualmente o melhor e mais utilizado sistema distribuído de controle de
									versão de códigos.
									<p>
										Como funciona?
									</p><br>
									<div>
										<div class="divimagem">
											<img src="images/git/git.jpg" height="500" width="800"
												alt="Funcionamento git"> <br><br>
										</div>
									</div>

									<p class="">
										<span>Copad - SESEN | P_999078 - Ari Roberto</span>
									</p>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<div class="panel panel-default">
						<div class="panel-heading">
							Git Flow na CD
						</div>
						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">
									<p class="list-group-item-heading">
										<strong>Projetos Ditec</strong>
									</p>
									<p class="list-group-item-text">
									<p>
										<i> A Ditec utliza a tecnologia do GitFlow que funciona da seguinte forma:</i>
									</p>
									<p>
										O Git flow trabalha com diferentes branches para gerenciar facilmente cada fase
										do desenvolvimento
										do software,
										sugere-se que seja usado quando seu software tem o conceito de “release” porque,
										como você pode ver no esquema abaixo, não é a melhor decisão quando você
										trabalha no ambiente de Entrega
										Contínua ou Implantação Contínua onde este conceito está ausente. <br>
										Outro ponto positivo desse fluxo é que se encaixa perfeitamente quando você
										trabalha em equipe e um
										ou mais
										desenvolvedores têm que colaborar para o mesmo recurso.
									</p><br>
									<div>
										<div class="divimagem">
											<img src="images/git/gitf.jpg" height="600" width="800" alt="GitFlow">
											<br>
										</div>
									</div>

									<p class="">
										<span>Copad - SESEN | P_999078 - Ari Roberto</span>
									</p>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<div class="panel panel-default">
						<div class="panel-heading">
							Utilizando o Git - Parte I 
						</div>
						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">
									<p class="list-group-item-heading">
										<strong>Como utilizar o GitFlow?</strong>
									</p>
									<p class="list-group-item-text">

									<p>
										Existem duas formas de atualizar o respositório oficial (https://git.camara.gov.br/coordenação/projeto) da Câmara dos Deputados. Precisamos relembrar
										que o git usa a premissa de manter o controle de versionamento dos códigos ou arquivos no repositório do projeto onde desenvolvedor está atuando.
									</p>
									<p><strong>Observação!!!!!</strong> É possível enxergar as outras coordenações,
										<b>mas não commitar ou fazer o push em outra área.</b>																				
									</p>
									<p>
										Link oficial: <a href="https://git.camara.gov.br/" target="_blank">GitCamara</a>
									</p>	
									<p class="list-group-item-heading">
										<strong>1ª forma - Gráfica</strong>
									</p>
									<p class="list-group-item-text">
									<p>
										Nesse primeiro caso usaremos a forma mais fácil e amigável de atualizar o 
										repositório apenas arrastando o arquivo que está local em sua estação de trabalho 
										para o repositório.
									</p>
									<p>
										Para que o processo fucnione impreterívelmente o desenvolvedor tem que estar com a permissão
										de <strong>escrita e leitura</strong>no repositório. O exemplo abaixo mostra em destaque o ponto de partida
										para transferência de arquivo. <br>
										<strong><i>CASO NÃO APAREÇA A OPÇÃO EM DESTAQUE O DESENVOLVEDOR NÃO TEM PERMISSÃO DE ACESSO</i></strong>
									</p><br>
									<p><b>Figura 1 - Clicar no botão Adicionar ficheiro </b></p>

									<img src="images/git/Git-outra forma.JPG" width="1100"  alt="">
									<br>

									<p><b>Figura 2 - Clicar no botão Carregar ficheiro</b></p>

									<img src="images/git/Git-outra forma1.JPG" width="100%"  alt="">
									<br>						
									<p><b>Figura 3 - Arraste o arquivo atualizado para o campo pontilhado</b></p>

									<img src="images/git/Git-outra forma2.JPG" width="100%"  alt="">
									<br>

									<p><b>Figura 4 - Coloque uma descrição resumida da atualização do arquivo</b></p>

									<img src="images/git/Git-outra forma3.JPG" width="100%"  alt="">
									<br>

									<p><b>Figura 5 - Clicar no botão de commitar</b></p>

									<img src="images/git/Git-outra forma4.JPG" width="100%"  alt="">
									<br>
									<p>
										<strong><i> Pronto!!! O repositório foi atualizado. Para verificar 
											se realmente foi atualizado pressione a tecla F5 na url do git e verificar se realmente foi atualizado.
										</i></strong>
									</p>

									
									<p class="">
										<span>Copad - SESEN | P_999078 - Ari Roberto</span>
									</p>
								</li>
							</ul>

						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<div class="panel panel-default">
						<div class="panel-heading">
							Utilizando o Git - Parte II 
						</div>
						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">
									<p class="list-group-item-heading">
										<strong>Como utilizar o GitFlow usando Git Bash?</strong>
									</p>
									<p class="list-group-item-text">

									<p>
										Nesse caso iremos mostrar a forma de utilizar o Gitflow usando um aplicativo de exemplo que roda no windows chamado de Git Bash.
									</p>

									<p>
										Link oficial para download : <a href="https://gitforwindows.org/" target="_blank">Git Bash dor Windows</a>
									</p>	
									<p class="list-group-item-heading">
										<strong>2ª forma - Linha de comando</strong>
									</p>
									<p class="list-group-item-text">
									<p>
										Muitos desenvolvedores preferem usar um terminal para realizar os comandos que atualizaram o repositório, com isso usaremos 
										o aplicativo Git Bash que oferece um conjunto leve e nativo de ferramentas que trazem o por completo um os recursos do 
										<a href="https://git-scm.com/" target="_blank">Git SCM</a>
									</p>
									<p>
										Cabe ressaltar que é nescessário que o colaborador tenha a permissão de <strong>escrita e leitura</strong> no repositório. O exemplo abaixo mostra alguns dos comandos
										mais utilizados por um desenvolvedor. <br>
										<strong><i>CASO NÃO APAREÇA A PÇÃO EM DESTAQUE É DEVIDO A PERMISSÃO DE ACESSO</i></strong>
										<strong><i>A INSTALAÇÃO É MUITO SIMPLES, BASTA BAIXAR O EXECUTÁVEL, CLICAR DUAS VEZES, NEXT, NEXT E FINISH</i></strong>
									</p><br>
									<p><b>Figura 1 - Escolhendo local onde será colonado o repositório</b></p>


									<img src="images/git/gitbash.JPG" width="1100"  alt="">
									<br>

									<p><b>Figura 2 - Inicializando o Git bash no diretório escolhido</b></p>

									<img src="images/git/gitbash0.JPG" width="100%"  alt="">
									<br>						
									<p><b>Figura 3 - Terminal do Git Bash</b></p>

									<img src="images/git/gitbash1.JPG" width="100%"  alt="">
									<br><br>
									<p>Vamos <b>iniciar git flow </b> no terminal com seguinte comando:</p>
									<p><code>git flow init</code></p>
									<p><b><i>A inicar o git flow serão feitas algumas perguntas, basta dar ENTER em todas até voltar ao prompt de comando.</i></b></p>
									<p><b><i>Saída do comando:</i></b></p>

									<img src="images/git/gitbash1.1.JPG" width="100%" alt="">
									<br><br>
									<p><strong>******** OBS!!!</strong><strong> As imagens de exemplo a partir de agora serão do projeto que está em andamento!!! *********</strong></p>
									<p><b>Figura 4 - Copiando URL e Clonando o repositório</b></p>
									<p>Clicar na área destacada para copiar o endereço</p><br>
		

									<img src="images/git/gitbash2.JPG" width="100%"  alt="">
									<br>
									<p><b>Figura 4.1 - Clonando repositório em diretório local.</b></p>
									<br>
									<p><b><i>Comando:</i></b></p>
									
									<p><code>git clone -- link com o nome do repositório</code></p><br>
									<p><b><i>Saída do comando:</i></b></p><br>
									<img src="images/git/gitbash3.JPG" width="100%"  alt=""><br><br>
								
									<p><b>Figura 4.2 - Diretório local onde foi clonado o repositório</b></p><br>
									<br>
									<img src="images/git/gitbash4.JPG" width="100%"  alt="">

									<p><b>Figura 5 - Listando e criando novas branches </b></p>
									<p>Os projetos compartilhados entre os membros de uma equipe, portanto é fundamental que nesse caso o novo
										desenvolvedor abra a sua branch para trabalhar no projeto. Iremos listar as branches que estão sendo executdas 
										no projeto e adicionar a branch que o novo desenvolvedor irá trabalhar no projeto.
									</p>
									<p><b><i>Comando para listar as branches existentes:</i></b></p>
									<p><code>git branch a-</code></p>
									
									<p><strong><i>Saída do comando:</i></strong></p>
									<p><code>
										P_999078@DC-382528 MINGW64 /c/Desenv/ambientacao (develop) <br>
										$ git branch -a <br>
										* develop <br>
										feature/Teste-Ari <br>
										feature/service-resource-api <br>
										list <br>
										master <br>
										remotes/origin/AddConfigKubernetes <br>
										remotes/origin/develop <br>
										remotes/origin/feature/service-resource-api <br>
										remotes/origin/master 
									</code></p><br><br>

									<img src="images/git/gitbash5.JPG" width="100%"  alt="">
									<br><br>
									
									<p>Os projetos são compartilhados entre os membros de uma equipe, portanto é fundamental que nesse caso o novo
										desenvolvedor abra a sua branch para trabalhar no projeto.
									</p>
									<p><Strong><i>Comando para criação ou mudança de branch:</i></Strong></p>
									<p><code>git checkout feature/Teste-Ari</code></p>
									<br>
									<p><b><i>Saída do comando</i></b></p>
									<img src="images/git/gitbash6.JPG" width="100%"  alt="">
									<br><br>

									<p><b>Figura 6 -Verificando mudanças </b></p>

									<p>O comando git status nos dá todas as informações necessárias sobre a branch atual.			
									</p>
									<p>Obtemos as seguintes informações:
										<ul>
											<li>
												Se a branch em que estamos no momento está atualizada;
											</li>
											<li>
												Se precisamos fazer o commit, push ou pull de algo;
											</li>
											<li>
												Se os arquivos estão em fase de stage, fora dessa fase ou se não estão sendo rastreados;
											</li>
											<li>
												Se arquivos foram criados, modificados ou excluídos;
											</li>
											<li>
												<b><i>Em resumo o comando git status nos dá informações sobre a branch e os arquivos.</i></b>
											</li>
										</ul>
									</p><br>
									<p><b><i>Comando:</i></b></p>
									<p><code>git status</code></p><br>

									<p><b><i>Saída do comando:</i></b></p>

									<img src="images/git/gitbash7.JPG" width="100%"  alt=""><br>	
									<br><br>		

									<p><b>Figura 7 - Adicionando os novos arquivos ou os alterados</b></p>
									<p>Após verificar as mudanças realizadas no projeto é necessário que estes arquivos alterados ou os novos sejam inclusos no repositório.
									</p>
									<p><b><i>Comando para adicionar os novos arquivos ou os alterados:</i></b></p>
									<p><code>git add .</code></p>
									
									<p><strong><i>Saída do comando:</i></strong></p>

									<img src="images/git/gitbash8.JPG" width="100%"  alt="">
									<p></p><br>

									<p><b>Figura 8 - Realizando o commit das alterações</b></p>
									<p><b><i>Comando:</i></b></p>
									<p><code>git commit -m "Mensagem para identificar a alteração do projeto"</code></p>
									
									<p><strong><i>Saída do comando:</i></strong></p>

									<img src="images/git/gitbash9.JPG" width="100%"  alt="">
									<p></p><br>

									<p><b>Figura 9 - Enviando atualização para o repositório (Publicando)</b></p>
									<p><b><i>Comando:</i></b></p>
									<p><code>git push</code></p>
									
									<p><strong><i>Saída do comando:</i></strong></p>

									<img src="images/git/gitbash11.JPG" width="100%"  alt="">
									<br><br>

									<p><b>Figura 10 - Comando para verificar o que foi alterado em sua branch em comparação a branch master ou develop</b></p>
									<p><b><i>Comando:</i></b></p>
									<p><code>git diff</code></p>
									
									<p><strong><i>Saída do comando:</i></strong></p>

									<img src="images/git/gitbash10.JPG" width="100%"  alt="">

									<br><br>
									<p>
										<strong><i> Pronto!!! O repositório foi atualizado. Para verificar 
											se realmente foi atualizado pressione a tecla F5 na url do git.
										</i></strong>
									</p>



									
									<p class="">
										<span>Copad - SESEN | P_999078 - Ari Roberto</span>
									</p>
								</li>
								
							</ul>

						</div>
					</div>
				</div>
			</div>

			<p></p><br>
			<br>
			<p></p>
		</div>
		<p></p>
	</div>
	<br>
</div>
		