<div class="container-fluid">

	<!-- PONTO DE INSERÇÃO DO CONTEÚDO PRINCIPAL -->
	<div class="page-header">
		<h1>Gestor de área e Desenvolvedor </h1>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					Informações do Portal
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">
							<p class="list-group-item-heading">
								<strong>Gestor de área</strong>
							</p>
							<p class="list-group-item-text">
								É o responsável pela seção ou coordenação onde o desenvolvedor estará lotado.
								O gestor da área aprasentará ao recém chegado desenvolvedor o <strong>O Portal
									Ambientação dos Desenvolvedores</strong>, onde este irá ter o primeiro
								contatao com as ferramentas e sistemas utilizados na Câmara dos Deputados.
							<p><b>
									O gestor da
									área é o responsável por conceder as permissões de acesso aos sistemas
									e serviços que o colaborador vai atuar.
								</b>

							</p>

							</p><br>
							<p class="">
								<span>Copad - SESEN | P_999078 - Ari Roberto</span>
							</p>
						</li>
						<li class="list-group-item">
							<p class="list-group-item-heading">
								<strong>Desenvolvedor</strong>
							</p>
							<p class="list-group-item-text">
								É o colaborador que atuará nos projetos existentes ou novos de acordo com as <b> prioridades definidas pelo gestor de sua área.</b>
								Uma das finalidades desse portal é ambientar os novos desenvolvedores no processo de
								trabalho.
								Mostra as ferramentas com a qual o colaborador irá atuar e sua documentação. <br>
								Fornece um suporte de informações do que é preciso ter como conhecimento para poder
								atuar no cargo de <strong>Desenvolvedor</strong>. Também iremos mostrar alguns exemplos
								de utilização das ferramentas,
								sistemas de gestão de demandas e chamados.
							</p><br>
							<p class="">
								<span>Copad - SESEN | P_999078 - Ari Roberto</span>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


