<div class="page-header">
    <h1>IDEA-N</h1>
    <div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Ferramenta de Gestão de indentidade de acesso
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="list-group-item-heading">
                                    <strong>Definição</strong>
                                </p>
                                <p class="list-group-item-text"></p>
                                <p>
                                    O IDEA trabalha com o conceito de administração de papéis para conceder
                                    autorizações/direitos de acesso a funcionalidades de sistemas.

                                    Os grupos por ventura criados no IDEA são adicionados a um ramo específico do Active
                                    Directory reservado para a administração realizada através do sistema. A denominação
                                    dessa OU é IDEA(OU=IDEA).

                                    O sistema implementa o conceito de Grupos Gestores que administram Grupos
                                    Convencionais, quando metadados de grupos são gerenciados existe a possibilidade de
                                    atribuir um grupo gestor ao grupo sendo administrado. Os membros de um grupo gestor
                                    podem adicionar membros aos seus grupos geridos.

                                    Para realização das tarefas do dia-a-dia do IDEA são utilizados dois papéis
                                    gestores:
                                <p>GestorIDEA: membros deste grupo podem incluir grupos no AD e gerenciar seus
                                    metadados,
                                    inclusive a atribuindo grupos gestores a outros grupos do AD. Também pode realizar
                                    operações do papel GestorDireitosSistemas. O grupo gestor do GestorIDEA é o próprio;
                                </p>
                                <p>GestorDireitosSistemas: membros deste grupo podem incluir direitos de acesso aos
                                    sistema
                                    e associá-los aos respectivos sistemas e aos grupos que representam os papéis aos
                                    quais
                                    os direitos estão atribuídos. O grupo gestor do GestorDireitosSistemas e o
                                    GestorIDEA.
                                </p>
                                </p>
                                <p> <a href="https://idea.camara.leg.br/#/sistemasAdministrados" target="_blank">Acesso
                                        a sistema</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="page-header">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>IDEA-N | Overview</h2>
                    <br>
                    <iframe width="1230" height="680" src="https://www.youtube.com/embed/BMLk4tGN1TU"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <p></p>
                    <p></p>
                    <br>

                </div>
            </div>
        </div>
    </div>
</div><br>
<br><br>