<div class="container-fluid">
	<div class="page-header">
		<h1>Introdução</h1>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					O Portal
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">
							<p class="list-group-item-heading">
								<strong>Descrição</strong>
							</p>
							<p class="list-group-item-text">
							<p>O objetivo desse portal é concentrar todas as informações nescessárias para as
								atividades
								de desenvolvimento no âmbito da Câmara dos Deputados.</p>
							<p>Aqui será o ponto de referência que norterará os novos desenvolvedores e
								auxiliará os
								Gestores Técnicos.</p>
							<p>Será informado quais as coordenações que são responsáveis por cada serviço e ou
								sistemas,
								seus Gestores e outras informações relevantes aos Chefes e colaboradores.</p>
							<p>Neste portal mapeamos as principais <strong>"Skills"</strong> ou habilidades
								desejáveis e
								nescessárias para as tarefas de um desenvolvedor.</p>
							</p>
							<p class="">
								<span>Copad - SESEN | P_999078 - Ari Roberto</span>
							</p>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					Gestor da área
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">
							<p class="list-group-item-heading">
								<strong>Descrição</strong>
							</p>
							<p class="list-group-item-text">
							<p>O gestor da área é o chefe direto da seção ou coordenação. Ele geralmente é o
								gestor de permissão cadastrado no IDEA-N, responsável por conceder as permissões
								nescessárias para a relaização das atividades a serem realizadas.
							</p>

							<p class="">
								<span>Copad - SESEN | P_999078 - Ari Roberto</span>
							</p>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					Demandas | Fluxo de Trabalho
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">
							<p class="list-group-item-heading">
								<strong>Descrição</strong>
							</p>
							<p class="list-group-item-text">
							<p>As demandas de trabalho é recebida por vários canais. É fundamental entender que o
								processo de chegada da demanda não nescessariamente estará registrada
								nos sistemas de controle de chamados (OTRS) eu no de gestão de projetos (Redmine).
							</p>
							<p>
								Formas de recebimento da demanda:
							<ul>
								<li><b>Telefone</b>
								<li><b>E-mail</b></li>
								<li><b>OTRS - </b>Sistema de gestão de incidentes utlizado na Câmara dos Deputados</li>
								<li><b>Redmine - </b>Sistema de gestão de projetos desenvolvido pela Ditec</li>
								<li><b>Outras</b></li>
							</ul>
							</p>
							<p>
								<strong>É EXTREMAMENTE RELEVANTE QUE AS DEMANDAS QUE CHEGAREM E QUE NÃO ESTEJAM
									CADASTRADAS EM UM DOS SISTEMAS DE GESTÃO, SEJAM REGISTRADAS
									LOGO APÓS SEU RECEBIMENTO PARA QUE POSSA SER CONTABILIZADA NA PRODUTIVIDADE DO
									COLABORADOR.
								</strong>
							</p>

							<p class="">
								<span>Copad - SESEN | P_999078 - Ari Roberto</span>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<br><br><br>
