<style>
	#divtexto {
		text-align: justify;
	}

	#divimagem {
		text-align: center;
	}
</style>
<!--<div class="container-fluid">-->
<!--<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<div class="panel panel-default">-->

<!-- PONTO DE INSERÇÃO DO CONTEÚDO PRINCIPAL -->
<!--<div class="page-header">
					<h1>Kubernetes</h1>
				</div>-->
<div class="page-header">
	<h1>Kubernetes</h1>
	<div>
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						O que é ?
					</div>
					<div class="panel-body">
						<ul class="list-group">
							<li class="list-group-item">
								<p class="list-group-item-heading">
									<strong>Definição</strong>
								</p>
								<p class="list-group-item-text"></p>
								<p>Kubernetes é um plataforma de código aberto, portável e extensiva para o
									gerenciamento de cargas de
									trabalho e serviços distribuídos em contêineres, que facilita tanto a configuração
									declarativa
									quanto a automação. Ele possui um ecossistema grande, e de rápido crescimento.
								</p>
								<p>
									Kubernetes é uma plataforma para executar e gerenciar contêineres de vários períodos
									de execução de
									contêineres. O Kubernetes é compatível a vários períodos de execução de contêineres,
									incluindo o
									Docker.
								</p>

								<p><a href="https://kubernetes.io/docs/tutorials/"
										target="_blank">Kubernetes-tutorial</a> | <a
										href="https://rtfd.camara.gov.br/docs/sesap/manual-kubernetes/"
										target="_blank">Kubernetes
										Manual-CD</a>
								</p>

							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--<p>Kubernetes é um plataforma de código aberto, portável e extensiva para o gerenciamento de cargas de
	trabalho e serviços distribuídos em contêineres, que facilita tanto a configuração declarativa
	quanto a automação. Ele possui um ecossistema grande, e de rápido crescimento.
</p>
<p>
	Kubernetes é uma plataforma para executar e gerenciar contêineres de vários períodos de execução de
	contêineres. O Kubernetes é compatível a vários períodos de execução de contêineres, incluindo o
	Docker.
</p>

<p><a href="https://kubernetes.io/docs/tutorials/" target="_blank">Kubernetes-tutorial</a> | <a
		href="https://rtfd.camara.gov.br/docs/sesap/manual-kubernetes/" target="_blank">Kubernetes
		Manual-CD</a>
</p>
<p></p>-->

</div>
</div>
</div>
</div>