<div class="container-fluid">

<!-- PONTO DE INSERÇÃO DO CONTEÚDO PRINCIPAL -->
	<div class="page-header">
		<h1>Links</h1>
	</div>

	<p>Essa é uma área de links úteis .</p>
	<p>Onde o desenvolvedor terá acesso direto a ferramentas que darão suporte ao desenvolvimento</p>

	<ul>
		<li><a href="https://servicosti.camara.leg.br/otrs/index.pl?Action=AgentTicketProcess" target="_blank">OTRS</a></li>
		<li><a href="https://sesen2.camara.gov.br/ative/#/" target="_blank">ATIVE </a></li>
		<li><a href="http://redmine.camara.gov.br/login?back_url=http%3A%2F%2Fredmine.camara.gov.br%2F" target="_blank">REDMINE </a></li>
		<li><a href="https://sptdes.camara.gov.br/wiki/P%C3%A1gina_principal" target="_blank">WIKI-DESENV</a></li>
		<li><a href="https://kubernetes.io/docs/tutorials/" target="_blank">Kubernetes-tutorial</a></li>
		<li><a href="https://rtfd.camara.gov.br/docs/sesap/manual-kubernetes/" target="_blank">Kubernetes Manual-CD</a></li>
	    <li><a href="https://rtfd.camara.gov.br/docs/sesap/jenkins-admin-docs/jenkins/jenkinsDocker.html" target="_blank">Jenkins2 Manual-CD</a></li>
	</ul>
</div>
