<div class="page-header">
	<h1>OTRS</h1>
	<div>
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						Ferramenta de Gestão de Chamados
					</div>
					<div class="panel-body">
						<ul class="list-group">
							<li class="list-group-item">
								<p class="list-group-item-heading">
									<strong>Definição</strong>
								</p>
								<p class="list-group-item-text"></p>
								<p>Essa é a ferramenta de gestão de chamados. Todas as solcitações internas assim como
									incidentes
									são registrados nessa ferramenta.</p>
								<p>Para ter acesso a essa ferramenta de gestão o colaborador precisa
									<strong>obrigatorimente</strong> fazer parte de uma fila. Com isso faça-se
									nescessário
									solicitar o gestor da sua área que o inclua na fila correspondente. No caso do
									gestor não ter
									acesso ele deve entrar em contato com a Central de atendimento pelo ramal 6-3636 ou
									abrir uma <a
										href="https://camaranet.camara.leg.br/diretorio-servicos/#/detalhes-servico/-/exibicao_servico/6c3e1ba8-a32f-4c5d-ac79-501e780693ec"
										target="_blank">Solicitação de acesso a sistema</a>
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="page-header">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>Treinamento CD</h2>
					<h3 class="box-info-treinamento-otrs__titulo-menor">Video:</h3>

					<iframe width="1200" height="600" src="https://www.youtube.com/embed/JxOHlyfX5OE"
						title="YouTube video player" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
					<p></p>
					<p></p>
					<br>

				</div>
			</div>
		</div>
	</div>
</div>
<br><br>

