<div class="page-header">
	<h1>Rancher</h1>
	<div>
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						O que é ?
					</div>
					<div class="panel-body">
						<ul class="list-group">
							<li class="list-group-item">
								<p class="list-group-item-heading">
									<strong>Definição</strong>
								</p>
								<p class="list-group-item-text"></p>
								<p>Rancher é uma ferramenta de gerenciamento do Kubernetes para implantar e executar
									clusters em qualquer lugar e em
									qualquer provedor.</p>
								<p>
									É uma plataforma de gerenciamento de contêineres que facilita o uso de contêineres
									OCI na produção. Usando o
									Rancher, as equipes podem gerenciar com segurança vários clusters Kubernetes e
									empregar ferramentas DevOps
									integradas para executar contêineres.
								</p>
								<p>
									A capacidade do Kubernetes de dimensionar cargas de trabalho rapidamente adicionando
									ou removendo nós de cluster
									é suportada no Rancher com o recurso de driver de nó. Os drivers de nó são drivers
									de máquina do Docker que o
									Rancher usa para provisionar novos nós de cluster. Cada provedor de host tem seu
									próprio driver de nó.
								</p>
								<p></p>
								<p><a href="https://rancher-kube.camara.gov.br/dashboard/home" target="_blank">Acesso ao
										Serviço Rancher</a></p>

							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


