<div class="page-header">
    <h1>Redmine</h1>
    <div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Gestão de Projetos
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="list-group-item-heading">
                                    <strong>Definição</strong>
                                </p>
                                <p class="list-group-item-text"></p>
                                <p> Redmine é um software livre, gerenciador de projetos baseados na web e ferramenta de
                                    gerenciamento
                                    de
                                    bugs. Ele contém calendário e gráficos de Gantt para ajudar na representação visual
                                    dos projetos e
                                    seus deadlines (prazos de entrega). Ele pode também trabalhar com múltiplos
                                    projetos.</p>
                                <p>O design do Redmine foi influenciado pelo Trac, um pacote de software semelhante.</p>

                                <p> O Redmine é escrito usando o framework Ruby on Rails. Ele é multiplataforma e
                                    integra com a maioria
                                    dos Banco de Dados.</p>

                                <p> Além de ser um software multiplataforma, também possibilita o uso integrado com
                                    vários repositórios
                                    tais como Svn, Git, Mercurial, Darcs, Cvs e Bazaar.</p>

                                <!--<p><a href="http://sptdes.camara.gov.br/wiki/Tutorial_Redmine"></a>Tutorial Redmine</p> -->
                                <p><a href="http://sptdes.camara.gov.br/wiki/Quick_References_Redmine"
                                        target="_blank">Referência
                                        Rápida
                                    </a>
                                </p>

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
