<div class="container-fluid">

    <!-- PONTO DE INSERÇÃO DO CONTEÚDO PRINCIPAL -->
    <div class="page-header">
        <h1>SONAR </h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Definição
                </div>

               <!-- <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="list-group-item-heading">
                            <h1>Sonar</h1>
                        </li>

                </div><br>-->
                    <p>
                        É uma ferramenta de análise de código que auxilia o gerenciamento da qualidade interna do software.
                        Isso é importantíssimo se queremos que o software possua uma boa qualidade e que possamos
                        melhorá-la. Assim o SonarQube mais conhecido como Sonar é uma plataforma de código aberto
                        desenvolvida pela SonarSource para inspeção contínua da qualidade de código com as seguintes
                        características:
                        <li>
                            <b>Multilinguagem:</b>ABAP, C/C++, C#, COBOL, Flex, Go, Java, JavaScript, Objective-C, PL/SQL,
                            PL/I, PHP, Python, RPG, Swift, T-SQL, TypeScript, VB .NET, VB6, Web, XML.
                        </li>
                        <li>
                            Integração Devops: Build: Maven, Ant, Gradle, MSBuild, Makefiles.
                        </li>
                        <li>
                            <b>Integração Contínua:</b> Jenkins, VSTS, TFS, Travis-CI
                        </li>
                        <li>
                            <b>Qualidade Centralizada:</b> visão integrada “cross-projects”
                        </li>
                    </p><br>

                    <a href="https://sptdes.camara.gov.br/wiki/Sonar" target="_blank">Descrição da Ferramenta Sonar
                    </a> |
                    <a href="https://sptdes.camara.gov.br/wiki/Sonar_-_Manual_de_produ%C3%A7%C3%A3o" target="_blank">Manual
                        de Produção
                    </a>

                </ul>

            </div>
        </div>
    </div>
</div>